$body-background-color: $white;
$body-size: 16px;
$body-min-width: 300px;
$body-rendering: optimizeLegibility;
$body-family: $family-primary;
$body-overflow-x: hidden;
$body-overflow-y: scroll;

$body-color: $text;
$body-font-size: 1em;
$body-weight: $weight-normal;
$body-line-height: 1.5;

$small-font-size: 0.875em;

$hr-background-color: $white;
$hr-height: 2px;
$hr-margin: 1.5rem 0;

$strong-weight: $weight-bold;